{
  "todo": [
    {
      "name": "React の学習",
      "status": "progress",
      "id": 1
    },
    {
      "name": "Vue の学習",
      "status": "expired",
      "id": 2
    },
    {
      "name": "Anguler の学習",
      "status": "pending",
      "id": 3
    },
    {
      "name": "Laravel の学習",
      "status": "done",
      "id": 4
    }
  ],
  "statuses": [
    {
      "id": 1,
      "name": "pending"
    },
    {
      "id": 2,
      "name": "progress"
    },
    {
      "id": 3,
      "name": "done"
    },
    {
      "id": 4,
      "name": "expired"
    }
  ]
}